.profile-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px; /* Increased width */
  max-width: 95%; /* Adjusted for responsiveness */
  max-height: 85%; /* Adjusted for responsiveness */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 25px; /* Increased padding for more space */
  z-index: 1000;
  overflow-y: auto;
}

/* Title Style */
.profile-title {
  margin-bottom: 20px; /* Adjusted for more space */
  font-size: 26px; /* Slightly larger font */
  text-align: center;
  color: #333;
}

/* Form Flex Styles */
.profile-form {
  display: flex;
  flex-direction: column;
}

/* Profile Input Styles */
.profile-input {
  padding: 12px; /* Increased padding for a more spacious feel */
  margin: 12px 0; /* Adjusted margin */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Profile Photo Styles */
.profile-photo {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 12px 0; /* Adjusted margin */
}

/* File Input */
.profile-file-input {
  margin: 12px 0; /* Adjusted margin */
}

/* Button Style */
.profile-button {
  padding: 12px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Button Hover Effect */
.profile-button:hover {
  background-color: #0056b3;
}

/* Favorite Recipes Title */
.favorite-recipes-title {
  margin-top: 25px; /* Manage margin for spacing */
  font-size: 22px; /* Slightly larger font */
  color: #333;
}

/* Favorite Recipes List Styles */
.favorite-recipes-list {
  list-style: none;
  padding: 0;
}

/* Favorite Recipe Item Styles */
.favorite-recipe-item {
  padding: 12px; /* Increased padding for more space */
  background: #f9f9f9;
  border-radius: 4px;
  margin: 6px 0; /* Adjusted margin */
  cursor: pointer;
  transition: background 0.3s;
}

/* Favorite Recipe Item Hover Effect */
.favorite-recipe-item:hover {
  background: #e9ecef;
}

/* Close Button Styles */
.close-button {
  padding: 12px;
  margin-top: 12px; /* Ensure there's space above the button */
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Close Button Hover Effect */
.close-button:hover {
  background-color: #c82333;
}
